.label-faq:after {
  content: "+";
  position: absolute;
  margin-top: -4px;
  font-size: 23px;
  right: 1em;
  color: rgb(0, 0, 0);
}

input:checked + .label-faq:after {
  content: "-";
  margin-top: 1px;
  font-size: 29px;

  /* line-height: 0.8em; */
}

.accordion__content {
  max-height: 0em;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}
input[name="panel"]:checked ~ .accordion__content {
  max-height: 50em;
}
.width {
  width: 1000px;
  margin-left: 50px;
}


@media (max-width: 1440px) {
  .width {
    width: 90%;
    margin-left: 0;
  }
}