a,
a:hover,
a.active,
a:active,
a:visited,
a:focus {
  color: #ffffff;
  text-decoration: none;
}

.drop-downn {
  /* display: none; */
  /* position: relative; */
}
.drop-downn:hover {
  display: block;
}

.drop-downn:hover .megablock {
  /* display: block; */
  /* height: 50rem; */
  width: 100%;
  background: #343434;
  position: absolute;
  left: 0;
  text-align: center;
  flex-direction: row;
  z-index: 39;
  /* opacity: 0.5; */
  color: white;
}

.megablock {
  /* display: none; */
}

.category {
  /* text-align: center; */
  /* padding-left: 5rem; */
}
.category:hover .subcategory {
  display: block;
  height: 50rem;
  width: 100%;
  background: #343434;
  position: absolute;
  left: 0;
  text-align: center;
  flex-direction: row;
  z-index: 39;
  /* opacity: 0.5; */
}
.subcategory {
  display: none;
}

li.drop-downn {
  /* position: relative; */
}

.drop-down-ul-new {
}
.flyout-right > ul,
.flyout-left > ul {
  top: 0;
  width: 100%;
  min-width: 230px;
  display: none;
  /* border-left: 1px solid #343434; */
}

/*responsive*/
@media (min-width: 767px) {
  .exo-menu > li > a {
    display: block;
    padding: 20px 22px;
  }
  .mega-menu,
  .flyout-mega-wrap,
  .flyout-right > ul,
  .flyout-left > ul,
  li.drop-downn > ul {
    position: absolute;
  }
  .flyout-right > ul {
    /* left: 100%; */
  }
  .flyout-left > ul {
    right: 100%;
  }
}
@media (max-width: 767px) {
  .exo-menu {
    min-height: 58px;
    background-color: #23364b;
    width: 100%;
  }

  .exo-menu > li > a {
    width: 100%;
    display: none;
  }
  .exo-menu > li {
    width: 100%;
  }
  .display.exo-menu > li > a {
    display: block;
    padding: 20px 22px;
  }

  .mega-menu,
  .flyout-right > ul,
  .flyout-left > ul,
  li.drop-downn > ul {
    position: absolute;
  }
}
a.toggle-menu {
  position: absolute;
  right: 0px;
  padding: 20px;
  font-size: 27px;
  background-color: #ccc;
  color: #23364b;
  top: 0px;
}
